/web/bundles/
/web/app.php
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/app/data/
/build/
/vendor/
/bin/
/composer.phar
/id_rsa
