{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as mc %}

{% block contents %}
    {% if app.user %}
        {% set execute = 'getMaintenancelog(' ~ store.Id ~ ')' %}
        <div ng-controller="logCtrl" ng-init="{{ execute }}">
            {% block header %}
                {% include 'AdministrationBundle:header:header.html.twig' %}
            {% endblock %}
            {% block page %}
                <div class="page" ng-switch="activePage">
                    <div ng-switch-when="logList">
                        {% include 'AdministrationBundle:maintenance:log/log_list.html.twig' %}
                    </div>
                    <div ng-switch-when="logInfo">
                        {% include 'AdministrationBundle:maintenance:log/log_info.html.twig' %}
                    </div>
                </div>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/app/controllers/logCtrl.js') }}"></script>
    <script src="{{ asset('bundles/app/js/app/datasets/collections.js') }}"></script>
    <script src="{{ asset('bundles/app/js/app/datasets/logs.js') }}"></script>
{% endblock %}

