# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_driver:    pdo_mysql
    database_host:      localhost
    database_port:      3306
    database_name:      phnctrl_tcm
    database_user:      phnctrl_root
    database_password:  k6aRE4DthUPM8tf

    mailer_transport:   smtp
    mailer_host:        smtp.phnctrl.nl
    mailer_user:        support@phnctrl.nl
    mailer_password:    wdH9bEzb5WbcqnU

    # A secret key that's used to generate certain security-related tokens
    secret:             54e530f5cfb4acb828f9a3af700cdfd3d61b865d

    domain_name:        phnctrl.nl
    logins:             3
    collection_path:    data/collectiondata
    store_path:         data/storedata
    maintenance_auto_off: 7200