<div class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" ng-class="{'wide-modal':modalOptions.wide === true}">
		<div class="modal-content noselect">
			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide();modalOptions.onCancel();">&times;</button>
				<h5 class="modal-title" ng-cloak>{{ modalOptions.headerText }}</h5>
			</div>
			<div class="modal-body" ng-bind="modalOptions.bodyText" ng-cloak>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-sm btn-default pull-left" ng-click="$hide();modalOptions.onCancel();">{{ modalOptions.closeButtonText }}</button>
				<button type="button" class="btn btn-sm btn-primary pull-right" ng-click="$hide();modalOptions.onExecute();" ng-show="modalOptions.actionButtonText.length">{{ modalOptions.actionButtonText }}</button>
			</div>
		</div>
	</div>
</div>
