<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" ng-class="{'wide-modal':modalOptions.wide === true}">
        <div class="modal-content noselect">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide();modalOptions.onCancel();">&times;</button>
                <h5 class="modal-title" ng-cloak>{{ modalOptions.headerText }}</h5>
            </div>
            <div class="modal-body" ng-cloak>
                <div class="row">
                    <div class="col-md-2 hidden-xs">
                        <div class="user-profile text-center">
                            <i class="glyphicon glyphicon-user"></i>
                        </div>
                    </div>
                    <div class="col-md-10 col-xs-12">
                        <div class="container-fluid">
                            <div bs-tabs class="cursor-pointer">
                                <div data-title="{{ 'PROFILE.INFO' | translate }}" name="Info" bs-pane>
                                    <div class="profile-well">
                                        <h4>{{ modalOptions.parentScope.AUTH.user().Username }}</h4>
                                        <div class="separator-line"></div>
                                        <div>{{ modalOptions.parentScope.AUTH.user().Name }}</div>
                                        <div>{{ modalOptions.parentScope.AUTH.user().Gender.Name | translate }}</div>
                                        <div>{{ modalOptions.parentScope.AUTH.user().BirthDate.date | GMT |
                                            date:'dd-MM-yyyy'
                                            }}
                                        </div>
                                        <div class="row">
                                            <div class="btn"
                                                 ng-repeat="role in modalOptions.parentScope.AUTH.user().Roles">
                                                <div class="{{ role.Style }}">{{ role.Description | translate }}</div>
                                            </div>
                                        </div>
                                        <div class="separator-line"></div>
                                        <div ng-repeat="email in modalOptions.parentScope.AUTH.user().Emails">
                                            {{ email.Email }}
                                        </div>
                                    </div>
                                </div>
                                <div data-title="{{ 'PROFILE.PASSWORD' | translate }}" name="Password" bs-pane>
                                    <form class="form-horizontal" method="post" name="passwordForm"
                                          ng-submit="modalOptions.parentScope.changePassword()" novalidate>
                                        <div class="profile-well">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"
                                                       ng-cloak>{{ 'PROFILE.PASSWORD' | translate }}</label>
                                                <div class="col-md-8">
                                                    <input class="form-control input-sm" name="Password" type="password"
                                                           ng-model="modalOptions.parentScope.AUTH.user().password"
                                                           validation="min_len:6|alpha_num|required"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4"
                                                       ng-cloak>{{ 'PROFILE.CONFIRM' | translate }}</label>
                                                <div class="col-md-8">
                                                    <input class="form-control input-sm" name="PasswordConfirm"
                                                           type="password"
                                                           ng-model="modalOptions.parentScope.AUTH.user().pconfirm"
                                                           validation="match:modalOptions.parentScope.AUTH.user().password,{{'PROFILE.PASSWORD'|translate}}|required"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <button class="btn btn-success btn-sm pull-right" type="submit"
                                                            ng-disabled="passwordForm.$invalid"><i
                                                            class="fa fa-floppy-o"></i> {{ 'SAVE' | translate}}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>