{% extends 'base.html.twig' %}

{% block contents %}
    {% if app.user %}

        {% block header %}
            {%  include 'AppBundle::header.html.twig' %}
        {%  endblock %}

        {% block page %}
            <div class="page">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-4 col-lg-4">
                            <div class="panel panel-primary cursor-pointer" ng-click="showRoute('tcm_stores')">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3 text-center big-button-icon">
                                            <i class="fa fa-map-marker fa-5x fa-fw"></i>
                                        </div>
                                        <div class="col-xs-9 text-right big-button-text" ng-cloak>
                                            {{ ng.translate('STORE.STORES') }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 col-lg-4">
                            <div class="panel panel-green cursor-pointer" ng-click="showProfile()">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3 text-center big-button-icon">
                                            <i class="fa fa-user-circle fa-5x fa-fw"></i>
                                        </div>
                                        <div class="col-xs-9 text-right big-button-text" ng-cloak>
                                            {{ ng.translate('USER.PROFILE') }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 col-lg-4">
                            <div class="panel panel-red cursor-pointer" ng-click="logout()">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3 text-center big-button-icon">
                                            <i class="fa fa-sign-out fa-5x fa-fw"></i>
                                        </div>
                                        <div class="col-xs-9 text-right big-button-text" ng-cloak>
                                            {{ ng.translate('AUTH.LOGOUT') }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="AUTH.isSuperAdmin()">
                        <div class="col-xs-12 col-md-4 col-lg-4">
                            <div class="panel panel-yellow cursor-pointer" ng-click="showAdministration()">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3 text-center big-button-icon">
                                            <i class="fa fa-briefcase fa-5x fa-fw"></i>
                                        </div>
                                        <div class="col-xs-9 text-right big-button-text" ng-cloak>
                                            {{ ng.translate('ADMINISTRATION.LABEL') }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endif %}
{% endblock %}
